name: Android CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17 (For Gradle Setup)
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Fix Gradle Wrapper
      # 先用 Java 17 把 wrapper 补好
      run: gradle wrapper

    - name: Set up JDK 11 (For Project Build)
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      # 现在环境是 Java 11，且有了 wrapper，可以正常编译了
      run: ./gradlew assembleDebug

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: XAutoDaily-Debug
        path: app/build/outputs/apk/debug/*.apk
