name: Android CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          # 【救命稻草】这行代码会告诉 GitHub：
          # 检查项目里的 .gitmodules 文件，把 stub, mmkv, dexkit 全部填满代码
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '7.2' # 锁定你的原配版本

      - name: Grant Permission
        run: chmod +x gradlew

      - name: Build with Gradle
        # 环境和子模块都齐了，这次 compileDebugJavaWithJavac 不会再报错了
        run: ./gradlew assembleDebug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: XAutoDaily-Debug
          path: app/build/outputs/apk/debug/*.apk
